* {
    margin: 0;
    padding: 0;
}

#frase {
    font-size: 1.2rem;
}

#aleatorio {
    width: 400px;
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

li {
    list-style: none;
}